/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


# Laravel folders to exclude
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Environment and IDE-specific files
.env
.env.*
.DS_Store
.idea/
.vscode/

# Log files
*.log
*.cache

# System files
Thumbs.db


